#yt-endtime-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.45); */
  color: rgba(255, 255, 255, 0.159);
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 35px;
  font-family: Roboto, Arial, sans-serif;
  text-shadow: 2px 2px #3333334d;
  /* backdrop-filter: blur(4px); */
  pointer-events: none;
  z-index: 9999;
}
